.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  }
.search-form {
  min-height: 10vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button {
  background-color: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.heading{
  color: white;
  text-align: center;
  padding: 20px 10px;
  margin-top:0px;
  font-size:50px;
  margin-bottom:0px;
  padding-bottom: 0px;
}
.footer{
  background: rgb(71,71,71);
  text-align: center;
  padding :20px;
  justify-content: center;
  color: white;

}